.App {
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:5vh;
    background: rgb(73, 79, 82);
    color: rgb(255, 255, 255);
}

.nav-links {
    width: 70%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style:none;

}
.nav-links li{
    color:white;
}



.menu-links {
    min-height: 5vh;
    width: 80%;
margin-left:10%;
display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.menu-links li{
    color:black;
}















.slide-container {
    width: 100%;
    margin: auto;
}

h3 {
    text-align: center;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
}
.slideshowimg{
    width:100%;
    height:400px;
}
